fastapi
uvicorn[standard]
sqlalchemy
pymysql
mysql-connector-python
pydantic
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
pydantic[email]
groq
requests

#testing
httpx
pytest
pytest-asyncio